@charset "UTF-8";
body {
  font-size: 16px;
}

.container {
  width: 100%;
  height: auto;
  text-align: center;
}
.container #header {
  width: 100%;
  text-align: center;
}
.container #header #navigation {
  width: 100%;
  height: auto;
  min-height: 90px;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  background-color: #e7e2e2;
  align-items: center;
  opacity: 0.6;
}
.container #header #navigation .img_logo {
  width: auto;
  max-width: 120px;
  height: auto;
  max-height: 70px;
}
.container #header #navigation .menu {
  height: 100%;
  width: 100%;
  display: flex;
  text-align: center;
  top: 0;
  padding: 10px;
  justify-content: space-around;
}
.container #header #navigation .menu li {
  list-style: none;
}
.container #header #navigation .menu li a {
  text-decoration: none;
}
.container #header #navigation #ham {
  display: none;
}
.container #header .nav_cover {
  display: none;
}
.container #header .header_img {
  width: 100%;
  height: auto;
}
.container #header .header_img img {
  margin: 0 auto;
}
.container #header .header_contents {
  margin: 30px;
  padding: 20px;
}
.container #main {
  margin: 0 auto;
  width: auto;
  max-width: 1280px;
  height: auto;
}
.container #main .section1 {
  margin: 30px;
  padding: 20px;
}
.container #main .section1 .title_section1 {
  margin: 0 auto;
  padding: 20px;
}
.container #main .section1 .wrap_section1_img {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  padding: 20px;
}
.container #main .section2 {
  margin: 30px;
  padding: 20px;
}
.container #main .section2 .title_section2 {
  margin: 0 auto;
  padding: 20px;
}
.container #main .section2 .wrap_section2_img {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-around;
  padding: 20px;
}
.container #footer {
  width: 100%;
  height: auto;
  background-color: rgb(214, 212, 212);
  padding: 40px;
}

@media screen and (max-width: 768px) {
  .container #header {
    position: relative;
    z-index: 0;
  }
  .container #header #navigation {
    position: relative;
  }
  .container #header #navigation .img_logo {
    position: relative;
    z-index: 10;
  }
  .container #header #navigation .menu {
    display: none;
  }
  .container #header #navigation #ham {
    position: relative;
    z-index: 10;
  }
  .container #header #navigation .nav_cover {
    display: initial;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
  }
  .ham {
    position: relative; /*ボタン内側の基点となるためrelativeを指定*/
    cursor: pointer;
    width: 100px;
    height: auto;
    min-height: 80px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    /*activeクラスが付与されると線が回転して×に*/
  }
  .ham span {
    display: inline-block;
    transition: all 0.4s; /*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
  }
  .ham :nth-of-type(1) {
    top: 15px;
  }
  .ham :nth-of-type(2) {
    top: 23px;
  }
  .ham :nth-of-type(3) {
    top: 31px;
  }
  .ham.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
  }
  .ham.active span:nth-of-type(2) {
    opacity: 0; /*真ん中の線は透過*/
  }
  .ham.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
  }
}/*# sourceMappingURL=style.css.map */